@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "tailwindcss";


/* flowbite-react/class-list.json */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}



/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(34, 86, 255, 0.089);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: oklch(0.809 0.105 251.813);
  border-radius: 20px;
  border: 1px solid oklch(0.809 0.105 251.813)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: oklch(0.707 0.165 254.624); 
}

